<ng-form name="addressForm">
<label >Address Line1</label><input ng-model="user.addressLine1" type="text" required>
<label >Address Line2</label><input ng-model="user.addressLine2" type="text">
<label >Town/City</label><input ng-model="user.addressTown" type="text" required>
<label >State</label><input ng-model="user.addressState" type="text" required>
<label >PinCode</label><input ng-model="user.addressPincode" type="text" required>
<label >Country</label><input ng-model="user.addressCountry" type="text" required>
<label >Mobile Number</label><input ng-model="user.addressMobile" type="text" required>
<label >LandMark</label><input ng-model="user.addressState" type="text">
</ng-form>