<ng-form name="addressForm">
<div class="form-group">
<label >Address Line1</label><input ng-model="user.address.addressLine1" type="text" required>
</div>
<div class="form-group">
<label >Address Line2</label><input ng-model="user.address.addressLine2" type="text">
</div>
<div class="form-group">
<label >Town/City</label><input ng-model="user.address.townorCity" type="text" required>
</div>
<div class="form-group">
<label >State</label><input ng-model="user.address.state" type="text" required>
</div>
<div class="form-group">
<label >PinCode</label><input ng-model="user.address.pincode" type="text" required>
</div>
<div class="form-group">
<label >Country</label><input ng-model="user.address.country" type="text" required>
</div>
<div class="form-group">
<label >Mobile Number</label><input ng-model="user.address.mobileNumber" type="text" required>
</div>
<div class="form-group">
<label >LandMark</label><input ng-model="user.address.landMark" type="text">
</div>
</ng-form>