<!DOCTYPE html>
<!--
	One Store Home Page
	@Author Ravi & Amar
-->
<html lang="en" ng-app="oneStore">
<head>
	<title>One Store</title>

</head>
<body>
	<div ng-view></div>
	<script src="javascripts/angular-1.2.5/angular.js"></script>
	<script src="javascripts/angular-1.2.5/angular-route.js"></script>
	<script src="javascripts/app.js"></script>

	<script src="javascripts/controller/homeCtrl.js"></script>
	<script src="javascripts/controller/loginCtrl.js"></script>
	<script src="javascripts/controller/registrationCtrl.js"></script>
</body>
</html>