<!DOCTYPE html>
<html lang="en" ng-app="reg">
<head>
	<title>Single Page</title>
	 <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
	 <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
<div ng-view></div>
<script src="javascripts/angular-1.2.5/angular.js"></script>
<script src="javascripts/angular-1.2.5/angular-route.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/controller/IndexCtrl.js"></script>
</body>
</html>