<!DOCTYPE html>
<html lang='en'  ng-app="registration">
<head>
  <title>Register to OneStore</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <script src="javascripts/angular-1.2.5/angular.js"></script>
  <script src="javascripts/controller/registrationCtrl.js"></script>
  
  
 
</head>
  <body ng-controller="registrationCtrl">
    <h1>Registration</h1>
    <div class="well">
      <form name="userInfoForm"  ng-submit="save(user)">
       <div class="form-group" ng-class="{ 'has-error' : userInfoForm.email.$invalid && !userInfoForm.email.$pristine }">
          <label>E-mail*</label>
          <input type="email" ng-model="user.email" class="form-control" name="email" required>
          <p ng-show="userInfoForm.email.$invalid && !userInfoForm.email.$pristine" class="help-block">You Email is required.</p>
        </div>
        <div class="form-group" >
        <label>First name</label>
        <input type="text" ng-model="user.firstName" name="firstName" required>
        </div>
        <div class="form-group">
        <label>Last name</label>
        <input type="text" ng-model="user.lastName" name="lastName" required>     
        </div>
        
        <div class="form-group">
        <label>Type of user</label>
        <select ng-model="user.role" ng-options="type as type for type in types">
        </select>
        </div>
        <div ng-if="user.role=='Vendor'" ng-include="'/vendor-form'"></div>
        <div class="form-group">
        <label>Password</label>
        <input type="password" data-ng-model="user.password" id="password" name="password" required>
        </div>
        <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" ng-model="repeatPassword" id="repeatPassword" name="repeatPassword" data-password-verify="user.password" required>
        </div>
        <p ng-show="userInfoForm.repeatPassword.$error.passwordVerify" class="help-block">
        Fields are not equal!</p>
        <br>
      
      </form>
      <p id="userdata" hidden>{{user}}</p>

      <form id="userForm" name="userForm" action="/registrationCheck" method="post">
        <input type="hidden" id="user" name="user"  >
        <button type="button" onclick="regSubmit()" class='btn btn-primary'>Save</button>
        <button type="button" class="btn">Clear</button>
      </form>
      </div>
      <script type="text/javascript">
      function regSubmit(){
        document.getElementById('user').value=document.getElementById('userdata').innerHTML;
        document.getElementById('userForm').submit();
      }

      </script>
  </body>
</html>