  <ng-form name="vendorForm">
  <div class="form-group">
  <label class="checkbox"><input type="checkbox" ng-model="user.home_Delivery" name="home_Delivery">Home delivery service</label>
  </div>
  <ng-include src="'/address-form'"/>
  </ng-form>