  <ng-form name="vendorForm">
  <label class="checkbox"><input type="checkbox" ng-model="user.homeDelivery" name="homeDelivery">Home delivery service</label>
  <ng-include src="'/address-form'"/>
  </ng-form>