<script type="text/ng-template" id="vendor-form">
  <ng-form name="vendorForm">
    <label >Address</label><input ng-model="user.address" type="text" required>
    <label class="checkbox"><input type="checkbox" ng-model="user.homeDelivery" name="homeDelivery"> Home delivery service</label>
  </ng-form>
</script>